<div class = "content">
    <h2>{{ subtitulo }}</h2>

    <!-- criando uma tabela-->
    <table class = "bordaTabela">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Direção</th>
                <th>Elenco Principal</th>
                <th>Ano de Lançamento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let x of filmes">
                <td>{{ x.titulo }}</td>
                <td>{{ x.direcao }}</td>
                <td>{{ x.elenco }}</td>
                <td>{{ x.anoLancamento }}</td>
            </tr>
        </tbody>
    </table>
</div>








<!--
    <ul>
        <li *ngFor = "let x of filmes">
            {{ x.titulo }} - {{ x.direcao }}
        </li>
    </ul>
-->