<div class = "content">
    <h2>Implementação da Interapolação</h2>

    <span>O valor da variavel x é: {{ x }}</span>
    <br /><br />

    <span>O array de números é composto pelos seguintes valores: {{ umArray }}</span>
    <br /><br />

    <span>As informações sobre a data de hoje é: {{ dataHoje }} </span>
    <br /><br />

    <span>O status booleano indicado na variavel é: {{ statusBooleano }}</span>
    <br /><br />

    <span>{{ statusBooleano ? "Este é o texto para o valor TRUE":"Este é o texto para variavel com o valor FALSE"}}</span>
    <br /><br />
    <span>{{ exibirTexto() }}</span>
</div>
